

body {
  background-image: url("pallarax-chika-dance.png");
  background-repeat: no-repeat;
  background-attachment: auto;
  background-size: cover;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: absolute;
  height: 100%;
  background: rgba(52, 86, 139, 20%); 
  color: #f1f1f1;
  width: 30%;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.btn {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FF6F61;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #EFC050;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

 .btn3 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #45B8AC;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn4 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #5B5EA6;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #B565A7;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}



.container .btn:hover {
  background-color: #ADADAD;
}

.container .btn2:hover {
  background-color: #ADADAD;
}

.container .btn3:hover {
  background-color: #ADADAD;
}

.container .btn4:hover {
  background-color: #ADADAD;
}

.container .btn5:hover {
  background-color: #ADADAD;
}