


h1 {
  font-family: Helvatica, sans-serif;
  text-align: center; 
  color: rgb(30,40,100);
  font-size: 5em;
  text-transform: uppercase;
}


body {
  background-image: url("pallarax-chika-dance.png");
  background-repeat: no-repeat;
  background-attachment: auto;
  background-size: cover;
}
element.style {
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
div {
    display: block;
}
.tdi_50_bb8 h1 {
    font-size: 100px !important;
    line-height: 1.74 !important;
    font-weight: 600 !important;
}
h1 {
    font-size: 40px;
    line-height: 58px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: noto sans Kr, sans-serif;
    color: #000000;
    font-weight: 800;
    margin: 6px 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 33px;
    margin-bottom: 23px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #111111;
    font-weight: 400;
    margin: 6px 0;
}
user agent stylesheet
h1 {
    font-size: 2em;
    font-weight: bold;
}
.tdi_47_6b4 .td_block_wrap {
    text-align: left;
}
.tdi_50_bb8 {
    justify-content: center !important;
    text-align: center !important;
}
.tagdiv-type {
    font-size: 18px;
    line-height: 1.8em;
    color: #222;
}
.tagdiv-type {
    font-size: 15px;
    line-height: 1.74;
    color: #222;
}
.tdi_49_648 {
    justify-content: center !important;
    text-align: center !important;
}
body, p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.8em;
}
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 21px;
}
body {
    visibility: visible !important;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}